<div class="footer">
    <div class="bg2">
        <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-6 col-xs-12 logoSocial">
            <img src="content/images/login/utrgv_logo.png" alt="UTRGV logo" id="footer-logo" class="logo">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerLinks">
            <ul>
                <li><a href="http://www.utrgv.edu/site-policies">Site Policies</a></li>
                <li><a href="http://www.utrgv.edu/about-utrgv/contact">Contact Us</a></li>
                <li><a href="http://www.utsystem.edu/">UT System</a></li>
                <li><a href="http://sao.fraud.state.tx.us/">Fraud Reporting</a></li>
            </ul>
            <ul>
                <li><a href="http://www.texas.gov/en/Pages/default.aspx">State of Texas</a></li>
                <li><a href="http://governor.state.tx.us/homeland">Texas Homeland Security</a></li>
                <li><a href="http://veterans.portal.texas.gov/en/Pages/default.aspx">Texas Veterans</a></li>
                <li><a href="http://www.texastransparency.org/">Where the Money Goes</a></li>
            </ul>
        </div><!--END footerLinks-->
    </div>
</div>
